In [1]:
import pandas as pd

df1 = pd.read_csv('./data/item_properties_part1.csv')
df2 = pd.read_csv('./data/item_properties_part2.csv')

In [2]:
df = pd.concat([df1, df2])

# Print the concatenated dataframe
df.head()

       timestamp  itemid    property                            value
0  1435460400000  460429  categoryid                             1338
1  1441508400000  206783         888          1116713 960601 n277.200
2  1439089200000  395014         400  n552.000 639502 n720.000 424566
3  1431226800000   59481         790                       n15360.000
4  1431831600000  156781         917                           828513

In [5]:
category_item_df=df[df['property']=='categoryid'][['itemid','value']]
category_item_df.head()
category_item_df.rename(columns={'value':'categoryid'},inplace=True)
category_item_df.to_csv("./data/category_item.csv",index=False)